.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  width: calc(100% - 100px);
}

.main {
  padding: 0 0 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: #FFFFFF;
  text-align: center;
}

.fixedLists, .lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.macbookLists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.fixedLists h2, .lists h2, .macbookLists h2 {
  text-align: center;
  padding: 30px 0;
  margin: 0;
  width: 100%;
}

.listsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .main {
    padding: 0 0 10rem;
  }

  .title {
    width: 300px;
  }

  .fixedLists h2, .lists h2 {
    padding: 10px 0;
  }

  .fixedLists, .lists {
    width: 90%;
    overflow-y: visible;
    height: auto;
  }

  .listsContainer {
    flex-direction: column;
    align-items: center;
  }
}
