.list {
  width: 540px;
  margin: 0 16px 32px;
  padding: 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 10px solid transparent;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

.list input {
  border-radius: 2px;
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.card {
  padding: 20px 40px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

.savedCard {
  padding: 20px 40px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  cursor: not-allowed;
  background-color: rgb(70, 70, 70);
  width: 100%;
}

.draggableCard {
  padding: 20px 40px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  background-color: white;
}

.card div, .savedCard div, .draggableCard div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
}

.draggableCard:hover,
.draggableCard:focus,
.draggableCard:active,
.card:hover,
.card:focus,
.card:active {
  background-color: rgb(235, 235, 235);
}

.list h2 {
  margin: 0;
  font-size: 40px;
}

.card h3, .savedCard h3, .draggableCard h3 {
  margin: 0;
  font-size: 24px;
  padding-bottom: 8px;
}

.card div span, .savedCard div span, .draggableCard div span {
  margin: 0;
  font-size: 18px;
  padding-right: 20px;
}

.savedTitle {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
  padding: 15px 0 0;
}

@media (max-width: 620px) {
  .list {
    width: 100%;
    min-width: 320px;
    margin: 16px 0;
  }

  .card h3, .savedCard h3, .draggableCard h3 {
    font-size: 18px;
    padding-bottom: 4px;
  }

  .card, .savedCard, .draggableCard {
    padding: 10px 20px 15px;
  }
}