.tooltip {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkIcon {
  padding-left: 10px;
  cursor: pointer;
}

.tooltipText {
  visibility: hidden;
  width: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 43%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 600px) {
  .tooltipText {
    width: 100%;
    left: 40%;
  }
}
